{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'signup_page/css/style.css' %}">
    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-signup100">
    <div class="wrap-signup">
        <div class="form-horizontal" id="validateForm">
        <h1 class="h1-title p-b-26">Welcome To UTST</h1>
        <fieldset>
            <form method="post">
                {% csrf_token %} <!-- for the forgery protection -->
                <div class="sign-up-field">
                    <input class="input100" type="text" placeholder="Enter your preferred UserName" name="username" required><br>
                    <input class="input100" type="email" placeholder="Enter your UofT email" name="email" required><br>
                    <input class="input100" type="password" placeholder="Enter the password" name="password" required><br>
                    <input class="input100 m-b-30" type="password" placeholder="Enter the password again" name="password_check" required style="margin-bottom: 25px">
                </div>

                <button type="submit"><b>Create My Account</b></button>
                <p class="signup-message">Already have an account?<a href="{% url 'login_page' %}" style="margin-left: 10px">Log in</a></p>
            </form>
        </fieldset>
        </div>

    </div>

</div>

</body>

</html>