

{% extends 'base_template.html' %}
{% load mathfilters %}



{% block content %}

<!--<div class="vertical-line"></div>-->
<div class="container-category">


{% for book in all_books %}


<!--<div class="item">-->
<!--   {{ forloop.counter  }}번글: {{ book.title }} - {{ post.title }}-->
<!--   <h1>{{ book.title }}</h1>-->
<!--   <p>{{book.content}}<a href="{% url 'detail' book.id %}">...more</a></p>-->
<!--   <p>{{book.writer}}</p>-->
<!--   <br>-->
<!--</div>-->

   <div class="card" style="min-width: 18rem; padding: 10px; margin: 5px;">
   {{ forloop.counter  }}번글: {{ book.title }} - {{ post.title }}
   <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">{{ book.title }}</h5>
         <h6 class="card-subtitle mb-2 text-muted">{{ book.writer }}</h6>
         <p class="card-text">{{ book.content }}<a href="{% url 'detail' book.id %}">...more</a> </p>
      </div>
   </div>

{% endfor %}


   <div class="item">

   </div>

   <div class="floating-button">
      <a class="post-btn" href="{% url 'post' %}">
      <input class="span-post-button" type="button" value="+"/>
      </a>
   </div>

<script>
    <!--Disable Searchbar on Default Page-->
    // document.getElementById("top-search").style.display = 'none'

</script>


</div>

{% endblock %}