

{% extends 'base_template.html' %}
{% load mathfilters %}



{% block content %}


<div class="main-area">

   <div class="container-category">


{% for book in all_books %}
   <div class="card" style="min-width: 18rem; padding: 10px; margin: 5px;">
   <img src="media/{{ book.image }}" alt="Card image cap" style="max-width: 300px; max-height: 300px; padding: 10px; margin: 5px;" >
      <div class="card-body">
         <h5 class="card-title">{{ book.title }}</h5>
         <h6 class="card-subtitle mb-2 text-muted">{{ book.writer }}</h6>
         <p class="card-text">{{ book.content }}<a href="{% url 'detail' book.id %}">...more</a> </p>
      </div>
   </div>

{% endfor %}

   <div class="floating-button">
      <a class="post-btn" href="{% url 'post' %}">
      <input class="span-post-button" type="button" value="+"/>
      </a>
   </div>

</div>



<script>
    <!--Disable Searchbar on Default Page-->
    // document.getElementById("top-search").style.display = 'none'

</script>


</div>

{% endblock %}