

{% extends 'base_template.html' %}
{% load mathfilters %}



{% block content %}

<!--<div class="vertical-line"></div>-->

{% for book in all_books %}





{% if forloop.counter|divisibleby:2 == 0 %}

<div class="post-overview-odd">
   {{ forloop.counter  }}번글: {{ book.title }} - {{ post.title }}
   <h1>{{ book.title }}</h1>
   <p>{{book.content}}<a href="{% url 'detail' book.id %}">...more</a></p>
   <p>{{book.writer}}</p>
   <br>
</div>


{% else %}

<div class="post-overview-even">
   {{ forloop.counter  }}번글: {{ book.title }} - {{ post.title }}
   <h1>{{ book.title }}</h1>
   <p>{{book.content}}<a href="{% url 'detail' book.id %}">...more</a></p>
   <p>{{book.writer}}</p>
   <br>
</div>
{% endif %}



{% endfor %}


<a href="{% url 'post' %}">
<input type="button" value="post your book" />
</a>

<script>
    <!--Disable Searchbar on Default Page-->
    // document.getElementById("top-search").style.display = 'none'

</script>

{% endblock %}