/** {*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*}*/

/* Default Layout */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

html {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    background: url("/static/images/uoft_watermark.png") no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-size: 35%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    min-height: 100%;
    min-width: 280px;
    /*width: 30%;*/
    font-family: 'Source Sans Pro', sans-serif;

}


header {
    background: rgba(255,255,255,.95);
    border: none;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transition: background .5s;
    border-bottom: 2px solid #ebebeb;
}

/*CSS Grid layout test*/

.main-area {
        /*margin-top: 56px;*/
    padding: 56px 2rem 0 2rem;
    display: grid;
    /*grid-template-columns: repeat(2, minmax(50%, auto)) ;*/
    /*grid-template-rows: repeat(2,minmax(40%, auto));*/
    /*grid-auto-flow: row dense;*/
    height: auto;
    /*grid-auto-flow: column dense;*/
    /*25px 185px 30px auto 30px 50px*/

    grid-template-areas:
        ' . . . '
        '. main . '
        ' . . . '
        'footer footer footer';
    max-width: 96%;

    /*for fix footer*/
    min-height: 100vh;
    margin: 0 auto;
}


.post-title-input{


    border: 1px solid #47748b;

}

.post-content-input{
    border: 1px solid #47748b;
}


.post-writer-input{

    border: 1px solid #8b4751;

}
/*For Sidebar*/
.wrapper {
    /*position: fixed;*/
    display: grid;
    width: 100%;
    align-items: stretch;
    z-index: 1;
    padding-top: 112px;

}


#basement {
    height: auto;
    min-height: 0%;
    padding-bottom: 10%;
}

footer {

    /*height: 50px;*/
    /*position: relative;*/
    /*transform: translateY(-100%);*/
}


#searchbar-input-default {
    width: 60%;
    min-width: 404px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* Default Category Style */


.container-category{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto)) ;
    grid-template-rows: repeat(2,minmax(25%, auto));
    grid-auto-flow: row dense;
    height: auto;

}



.item:nth-child(n){
border: 1px solid blue;

}

/*.global-header {*/
/*    height: 56px;*/
/*    clear: both;*/
/*    position: relative;*/
/*    !*border-bottom: 2px solid rgba(50,50,40,0.5);*!*/
/*    text-align: center;*/
/*}*/

/*FLoating Button*/

/*플로팅 버튼 수정X========*/
.floating-button {
  display: flex;
  position: fixed;
  right: 30px;
  bottom: 70px;
  z-index: 999;
}

/*플로팅 버튼 아이콘 공용 스타일 수정X========*/
.post-btn::before {
   width: 100%;
   height: 100%;
   opacity: 1;
   border-radius: 50%;
   font-size: 1.15em;
	color: #b67700;
}

/*플로팅 버튼 스타일========*/
.span-post-button {
  float: left;
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  /*사용자 설정 파트*/
  font-weight: 700;
  background-color: #00000000;
  border: 2px solid #b67700;
}

.global-footer {
    grid-area: footer;
    height: 56px;
    display: flex;
    justify-content: center;
    position: relative;
    background: #e3f2fd;
}

.main-header {
    background-color: #e3f2fd;
    position: relative;
    line-height: 0;
    width: 100%;

}


/* Relates to Sidebar */
aside {
    /*padding-top: 112px;*/
    margin-top: 56px;
    position: fixed;
    z-index: 5;
}

#sidebar {
    /*padding-top: 112px;*/
    min-width: 250px;
    max-width: 250px;
    /*margin-left: -250px;*/
    /*margin-top: 112px;*/
    border: darkblue;
    /*background: #FFFFFF;*/
    /*color: #fff;*/
    transition: all 0.3s;
    /*z-index: 2;*/
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #e3f2fd;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #e3f2fd;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FFFFFF;
}

/* Default Search Bar */

.default-searchbar {
    position: absolute;
    /*top: 50%;*/
    left: 25%;
    margin-top: -25px;
    margin-left: -50px;
    width: 75%;
    height: 50px;
    color: #fff;
}



.wrap-searchbar {
    position: relative;
    height: 200px;
    background: #fff;

}


/*---------*/

.uoft-footer {
    height: 10vh;
    padding: 1rem;
    background: #e3f2fd;
    display: flex;
    /*position: center;*/
    align-items: center;
    justify-content: center;
}

.topbar {
    position: fixed;
    height: 112px;
    width: 100%;
    z-index: 10;
}

.p-t-10 {
    padding-top: 10px;
}

.p-r-10 {
    padding-right: 5px;
}



.toggle-btn {
    position: fixed;
    /*left: 12%;*/
    top: 15px;

}

.login-signup-box {
    position: absolute;
    top: 50px;
    right: 20px;
    margin: 20px;
}

.login-signup-box ul li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}


.foot-name {
    padding: 1rem;
}

footer h6 {
    text-color: white;
}

.social-icons {
    display: flex;
}



.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 0 0.5rem;
}

.social-icon--instagram {
    color: white;
}

.social-icon--linkedin {
    color: white;
}



/*For Mobile*/
@media (max-width: 414px) {

    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #searchbar-input-default {
        width: 100%;
    }

    .main-header {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .container-category{
    grid-template-columns: repeat(1, minmax(50%, auto)) ;
    grid-template-rows: repeat(1,minmax(25%, auto));
    grid-auto-flow: row;
    height: auto;
    }

}



/*For Tablet*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #searchbar-input-default {
        width: 30%;
    }

    .main-header {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

}
@media (min-width: 768px) {
        #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

}

@media (min-width: 404px) {
        #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

}

/*For Desktop*/
@media (min-width: 1024px) {

    /*.global-header {*/
    /*    grid-area: header;*/
    /*    display: grid;*/
    /*}*/
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #searchbar-input-default {
        width: 800px;
    }

    .main-header {
        align-items: end;
    }

    global-footer {
        grid-area: footer;
        align-self: center;
        margin-top: 0;
    }

}
