{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static '/default_page/style.css' %}">
<footer class="footer">
    <div class="foot-name">
        <h6>UofT Student Trade</h6>
    </div>
    <div class="social-icons">
        <a class="social-icon social-icon--instagram" href="https://www.instagram.com/lucky_hamtaro/" target="_blank">
            <span style="color:black"><i class="fa-brands fa-instagram-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a class="social-icon social-icon--linkedin" href="https://www.linkedin.com/in/luckyim/" target="_blank">
            <span style="color:black"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></span>
        </a>
    </div>
</footer>
</html>