{% extends 'base_template.html' %}

{% block content %}

<!--<div class="wrap-searchbar">-->
    <span class="default-searchbar">
        <form class="form-inline">
          <input id="searchbar-input-default" class="form control" type="search" placeholder="Search Item" aria-label="Search">
          <button class="btn btn-sm btn-outline-secondary" type="button">Search</button>
        </form>
    </span>
<!--</div>-->


<script>
    <!--Disable Searchbar on Default Page-->
    document.getElementById("top-search").style.display = 'none'

</script>

{% endblock %}


