{% extends 'base_template.html' %}

{% block content %}

<div class="d-flex justify-content-center" style="padding: 56px 2rem 0 2rem;">
    <div id="searchbar-input-default" style="padding-top: 200px;">
        <form class="p-2 flex-lg-fill bd-highlight" >
            <div class="d-flex justify-content-center">
                <input  class="form control" type="search" placeholder="Search Item" aria-label="Search" style="width: 80%; min-width: 250px; max-width: 564px;" >
                <button class="btn btn-sm btn-outline-secondary" type="button" style="width: 80px;">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="main-area">
</div>

<script>
    <!--Disable Searchbar on Default Page-->
    document.getElementById("top-search").style.display = 'none'

</script>

{% endblock %}


