<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!-- 자식 Template-->

{% extends "base_templates.html" %}

{% block title %}
    Test Title
{% endblock %}

{% block content %}
<!-- Fill in the Contents field -->





{% endblock %}




<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<div class="sidebar">-->
<!--    <div class="toggle-btn">-->
<!--        <h4>Category</h4>-->
<!--        <u1>-->
<!--            <li><a href="{% url 'category_books_page'%}"><i class="fa-solid fa-book"></i>Books</a></li>-->
<!--            <li><a href="{% url 'category_clothings_page'%}"><i class="fa-solid fa-shirt"></i>Clothings</a></li>-->
<!--            <li><a href="{% url 'category_electronics_page'%}"><i class="fa-solid fa-laptop"></i>Electronics</a>-->
<!--            </li>-->
<!--            <li><a href="{% url 'category_housings_page'%}"><i class="fa-solid fa-house"></i>Housings</a></li>-->
<!--            <li><a href="{% url 'category_musical_instruments_page'%}"><i class="fa-solid fa-guitar"></i>Musical-->
<!--                Instruments</a></li>-->
<!--            <li><a href="{% url 'category_sports_page'%}"><i class="fa-solid fa-basketball"></i>Sports</a></li>-->
<!--            <li><a href="{% url 'category_stationaries_page'%}"><i class="fa-solid fa-pencil"></i>Stationaries</a>-->
<!--            </li>-->
<!--            <li><a href="{% url 'category_tickets_page'%}"><i class="fa-solid fa-ticket"></i>Tickets</a></li>-->
<!--        </u1>-->
<!--    </div>-->
<!--</div>-->

<!--</html>-->

<!--{% endblock content %}-->
<!--{% include "footer.html" %}-->