{% load static %}


    <!--Sidebar-->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Category</h3>
        </div>

        <ul class="list-unstyled components">
            <li><a href="/category_books_page"><i class="fa-solid fa-book p-r-10"></i>Books</a></li>
            <li><a href="/category_clothings_page"><i class="fa-solid fa-shirt p-r-10"></i>Clothings</a></li>
            <li><a href="/category_electronics_page"><i class="fa-solid fa-laptop p-r-10"></i>Electronics</a>
            </li>
            <li><a href="/category_electronics_page"><i class="fa-solid fa-house p-r-10"></i>Housings</a></li>
            <li><a href="/category_electronics_page"><i class="fa-solid fa-guitar p-r-10"></i>Musical
                Instruments</a></li>
            <li><a href="/category_electronics_page"><i class="fa-solid fa-basketball p-r-10"></i>Sports</a></li>
            <li><a href="/category_electronics_page"><i class="fa-solid fa-pencil p-r-10"></i>Stationaries</a>
            </li>
            <li><a href="/category_electronics_page"><i class="fa-solid fa-ticket p-r-10"></i>Tickets</a></li>
        </ul>

    </nav>

