{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>UTST Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="{% static '/login_page/style.css' %}">
</head>

<body>
<div class=small-box>
    <div class="content">
        <div class="text">Login Form</div>
        <form action="#">
            <div class="field">
                <span class="fa fa-user"></span>
                <input type="text" placeholder="Email Id" required>

            </div>
            <div class="field">
                <span class="fa fa-lock"></span>
                <input type="password" placeholder="Password">
            </div>
            <button>Log in</button>

        </form>
    </div>
</div>

</body>
</html>